<div class="main-content">
  <div class="row column_title">
    <div class="col-md-12">
      <div class="page_title">
        <h2>Danh sách nhân viên</h2>
      </div>
    </div>
  </div>
  <div class="p-fluid flex align-items-center justify-content-end flex-wrap">
    <div class="flex flex-wrap">
      <button pButton type="button"
              iconPos="left"
              icon="pi pi-plus"
              label="Thêm" (click)="addModal()"></button>
    </div>
  </div>
  <p-table [value]="data" [rowHover]="true" responsiveLayout="scroll"  [style]="{height: '50vh'}">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="flex justify-content-center">
            <span>STT</span>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center">
            <span>Tên nhân viên</span>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center">
            <span>Số điện thoại</span>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center">
            <span>Tình trạng</span>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center">
            <span>Lịch sử sửa chữa</span>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center">
            <span>Tác vụ</span>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-index="rowIndex">
      <tr>
        <td>
          <div class="flex justify-content-center">
            <span>{{index + 1}}</span>
          </div>
        </td>
        <td>
          <div class="flex justify-content-center">
            <span>{{ data.name }}</span>
          </div>
        </td>
        <td><div class="flex justify-content-center">
          <span>{{ data.phone }}</span>
        </div></td>
        <td><div class="flex justify-content-center">
          <p-tag *ngIf="data.status === '2'" severity="success" value="Sẵn sàng"></p-tag>
          <p-tag *ngIf="data.status === '1'" severity="primary" value="Đang sửa chữa"></p-tag>
          <p-tag *ngIf="data.status === '0'" severity="warning" value="Vô hiệu hoá"></p-tag>
        </div></td>
        <td><div class="flex justify-content-center">
          <div style="cursor: pointer">
            <i class="pi pi-book" (click)="getModal(data.employeeId)"></i>
          </div>
        </div></td>
        <td>
          <div class="flex justify-content-center">
            <p-button *ngIf="data.status !== '0'" label="Vô hiệu hoá" (click)="handleDelete(data.employeeId, data.status)"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="11">
          <div class="flex flex-column justify-content-center align-items-center">
            <p-image class="flex" src="assets/images/Empty.png" alt="empty"></p-image>
            <span> Không có dữ liệu </span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-add-employee (update)="getData()"></app-add-employee>
<app-employee-history></app-employee-history>
<p-toast></p-toast>
