/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
. {
  color: #000;
}
.main-content {
  margin-top: 60px;
  position: relative;
  margin-left: 300px;
}
.secondary-content {
  margin-top: 60px;
  position: relative;
}
.flex{
  display: flex;
}
